.header {
  border-bottom:1px solid lightgrey
}

.region-header {
	display:flex;
  	justify-content:space-between;
  	padding-top:1em;
  	
}

.menu--account .menu-item+.menu-item {
 	 margin-left:1em;
}

.region-header #block-blog-branding {
  	
}

.region-header .site-name a {
	text-decoration: none;
  	color:#3D83C6;
  	font-weight:bold;
  	font-size:1.5em;
}

.highlighted {
 	background-image: linear-gradient(to right, #040a16, #0d1023, #16142e, #241538, #36123e);
}

.region-highlighted {
 	display:flex 
}

.region-highlighted .block-block-content {
 	width:100%; 
}

.region-highlighted h1 {
	padding:2em 0.2em; 
}

.region-highlighted #block-reapprendre {
 	background-position:center;
  	background-size:cover;
}

.region-highlighted #block-aparler-2 {
 	background-position:center;
  	background-size:cover;
}

.view-frontpage .views-field-field-titre-principal .field-content {
 	font-size:2em;
  	color:#3D83C6;
}

.views-field-field-photo img {
 	margin: 2em;
}

.main-content {
	display:flex; 
}

.region-sidebar-first {
	padding-right: 1em; 
  	border-right: 1px solid lightgrey
}

.region-content {
	padding:1em; 
}

.block-menu .menu {
	display:flex;
  	justify-content:space-around;
  	 
}

.menu--main .menu {
	padding-top:0.5em;
 	border-top:1px solid lightgrey;
}

.site-footer {
  background-image: linear-gradient(to right, #040a16, #0d1023, #16142e, #241538, #36123e);
}

.region-footer {
  	padding:0.5em;
}

.region-footer .field--name-body {
	text-align:center;
  	color:white;
}

.region-footer .field--name-body a {
 	text-decoration:underline; 
}

.region-footer .field--name-body a:link {
 	 color:white;
  	
}

.region-footer .field--name-body a:visited {
 	color:white; 
}